<html>
  <head>
  </head>
  <body>
    <h1> San Diego Trivia </h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <a href="/trivia/answer/<%= answerkey %>">See the Answer</a>
    <a href="/">Back</a>

  </body>
</html>
